
.container {
  display: flex;
  justify-content: center;
}
.tabla-tareas {
  width: 70%;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 20px;
}

th {
  background-color: #f2f2f2;
}

th.col1 {
  width: 40%;
}

th.col2 {
  width: 20%;
}

th.col3 {
  width: 25%;
}
th.col4 {
  width: 15%;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

.no-etiqueta{
  padding: 8px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.ver-button, .eliminar-button {
  width: 120px;
  height: 38px;
  margin: 5px 20px 5px;
  font-size: 17px;
  border-radius: 5px;
}
.ver-button {
  color: white;
  background-color: forestgreen;
}

.eliminar-button {
  color: white;
  background-color: crimson;
}

.ver-button:hover, .eliminar-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  opacity: 3;
}
